body {
  height: 100%;
  margin: 0;
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/background1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  width: 100%;
  /* height: 100%; */
}

/*  header container */

/* left alignment */
@media (min-width: 576px) {
  .main-container .header-container .header-heading {
    margin-left: -17px;
  }
}

.main-container .header-container .header-heading h3 {
  text-align: center;
  background-color: white;
  padding: 20px;
  font-size: 3rem !important;
  color: #3c185e;
}

.main-container .header-container .header-text {
  padding: 10px;
}

.main-container .header-container .header-text h6 {
  color: white !important;
  font-size: 1.5rem !important;
  text-align: center;
}

.main-container .row {
  /* height: 100%; */
}

/* call to action container */
.main-container .call-to-action-container {
  width: 100%;
}

/*  tab container  */
.nav.nav-pills .nav-item {
  margin-bottom: 20px;
}

.row .col-md-3.navi {
  background-color: white;
  padding: 15px !important;
  height: 100%;
}

.nav-item .nav-link {
  color: #97a9bd;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-image: linear-gradient(90deg, #133882 20%, #0164e5 80%) !important;
}

/* tab content */

@media (min-width: 768px) {
  .col-md-9 .tab-content {
    min-height: 390px;
  }
}
.col-md-9 .tab-content {
  background: white;
}

.col-md-9 .tab-content .tab-pane {
  padding: 20px;
}

.col-md-9 .tab-content .tab-pane h2 {
  color: #97a9bd;
  /* margin-top: 1%; */
  margin-bottom: 3%;
}

.col-md-9 .tab-content .tab-pane.active {
  overflow: auto;
  max-height: 100vh !important;
  min-height: 50px;
}

/* download brochures and meet now tab -tab component*/
.col-md-9 .tab-content .tab-pane .content .gradient-container {
  width: 100%;
  background-image: linear-gradient(90deg, #133882 20%, #0164e5 80%) !important;
  color: white;
  position: relative;
  border-radius: 0.25rem;
}

.col-md-9 .tab-content .tab-pane .content .gradient-container p {
  margin-bottom: 0 !important;
  padding: 10px;
  margin: 10px;
}

.col-md-9 .tab-content .tab-pane .content .gradient-container p i {
  color: white;
  font-size: 30px;
}
.col-md-9 .tab-content .tab-pane .content .gradient-container .download-btn {
  color: #0264e5;
}

@media (min-width: 577px) {
  .col-md-9 .tab-content .tab-pane .content .gradient-container .download-btn {
    position: absolute;
    right: 10px;
    bottom: 8px;
  }
}

@media (max-width: 576px) {
  .col-md-9 .tab-content .tab-pane .content .gradient-container .download-btn {
    margin-bottom: 10px;
  }
}

/* manager button */
.manager-container .manager-btn-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.manager-container .manager-btn-container .download-btn {
  color: #0264e5;
}

/* manager icon */
.manager-container .manager-icon-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.manager-container .manager-icon-container i {
  color: white;
  font-size: 30px;
}

/* custom manager tab-content */
.manager-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 15px;
}

/* manager main content */
.manager-container .manager-main-content {
  display: flex;
  flex-direction: column;
}

.manager-container .manager-main-content h4,
.manager-container .manager-main-content p {
  margin: 0 !important;
  padding: 0 !important;
}

.manager-container .manager-main-content p {
  font-size: 14px;
  margin-top: 4px !important;
}

/* utilities */
.app_theme_bg-primary {
  background-image: linear-gradient(90deg, #133882 20%, #0164e5 80%) !important;
  color: white;
}

/* image gallery container  tab */
.col-md-9 .tab-content .tab-pane .content .image-gallery-container img {
  width: 200px; /* You can set the dimensions to whatever you want */
  height: 200px;
  object-fit: cover;
}
