body {
  height: 100%;
  margin: 0;
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  background-image: url("../images/background1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  width: 100%;
  height: 100%;
}

.main-container .header-container .header-heading h3 {
  text-align: center;
  background-color: white;
  padding: 20px;
  font-size: 3rem !important;
  color: #c96567;
}

.main-container .header-container .header-text {
  padding: 10px;
}

.main-container .header-container .header-text h6 {
  color: #b2384f !important;
  font-size: 2rem !important;
  text-align: center;
}

.main-container .row {
  height: 100%;
}
/* call to action container */

/*  tab container  */
.main-container .call-to-action-container {
  width: 100%;
}

.nav.nav-pills .nav-item {
  margin-bottom: 20px;
}

.row .col-md-2.navi {
  background-color: white;
  padding: 15px !important;
  height: 100%;
}

.nav-item .nav-link {
  color: #97a9bd;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #c96567 !important;
}

/* tab content */
.col-md-10 .tab-content {
  background: white;
}

.col-md-10 .tab-content .tab-pane {
  padding: 20px;
}

.col-md-10 .tab-content .tab-pane h2 {
  color: #97a9bd;
  margin-top: 3%;
  margin-bottom: 3%;
}

.col-md-10 .tab-content .tab-pane.active {
  overflow: auto;
  max-height: 100vh !important;
  min-height: 50px;
}

/* download brochures tab */
.col-md-10 .tab-content .tab-pane .content .pdf-download-container {
  width: 100%;
  background-color: #c96567;
  color: white;
  position: relative;
  border-radius: 0.25rem;
}

.col-md-10 .tab-content .tab-pane .content .pdf-download-container p {
  margin-bottom: 0 !important;
  padding: 10px;
  margin: 10px;
}

.col-md-10 .tab-content .tab-pane .content .pdf-download-container p i {
  color: #92a4b8;
  font-size: 30px;
}

@media (min-width: 577px) {
  .col-md-10
    .tab-content
    .tab-pane
    .content
    .pdf-download-container
    .download-btn {
    position: absolute;
    right: 10px;
    bottom: 8px;
  }
}

@media (max-width: 576px) {
  .col-md-10
    .tab-content
    .tab-pane
    .content
    .pdf-download-container
    .download-btn {
    margin-bottom: 10px;
  }
}
